@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  height: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  width: 100%;
}

.ql-container {
  font-family: "Arial", sans-serif;
  font-size: 16px;
  line-height: 1.6;
  border-radius: 5px;
  height: 300px !important;
}

.ql-toolbar {
  background: #f8f9fa;
  border-bottom: 1px solid #ddd;
}

.ql-editor {
  padding: 15px;
  overflow-y: auto;
}

.ql-editor:focus {
  outline: none;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.3); /* Subtle scrollbar thumb color */
  border-radius: 4px; /* Rounded edges for a smooth look */
  transition: background-color 0.3s;
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgba(0, 0, 0, 0.6); /* Darker color on hover */
}

.modal::-webkit-scrollbar {
  width: 4px;
}
